:root {
  --primary: #8A4FFF;
  --dark: #131A26;
  --grey: #CCC;
  --light: #EEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--dark);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--primary);
}

header h1 {
  color: #FFF;
  font-size: 42px;
  text-transform: uppercase;
  text-shadow: -4px 1px var(--primary);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0%;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.cell {
  position: relative;
  border: 1px solid var(--dark);
  width: 100px;
  padding-top: 100%;
  cursor: pointer;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}
.cell.x::after,
.cell.x::before,
.board.turn-x .cell:not(.x):not(.o):hover::after,
.board.turn-x .cell:not(.x):not(.o):hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 90px;
  background-color: var(--dark);
  border-radius: 100px;
}

.cell.x::before,
.board.turn-x .cell:not(.x):not(.o):hover::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.cell.x::after,
.board.turn-x .cell:not(.x):not(.o):hover::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cell.o::before,
.board.turn-o .cell:not(.x):not(.o):hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  border: 10px solid var(--dark);
  border-radius: 50px;
}

.board.turn-x .cell:not(.x):not(.o):hover::after,
.board.turn-x .cell:not(.x):not(.o):hover::before {
  background-color: var(--grey);
}

.board.turn-o .cell:not(.x):not(.o):hover::before {
  border-color: var(--grey);
}

.endGameMessage {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.endGameMessage button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.endGameMessage button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.endGameMessage.show {
  display: flex;
}